<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>调香师的详细内容</title>
		<link rel="stylesheet" type="text/css" href="/public/bootstrap-3.3.7/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="/public/css/perfumer.css" />
	</head>
	<body>
		<!-- <img style="width: 100%;height: 50px;" src="/public/images/banner.png" > -->
		<div class="backcolor"></div>
		<div id="percon" class="container percon">
			<div id="h_row" class="row"></div>
			<div id="f_row" class="row"></div>
		</div>
		<script src="/public/js/jquery-3.3.1.min.js"></script>
		<script src="/public/bootstrap-3.3.7/js/bootstrap.min.js"></script>
		<script type="text/javascript">
			function getUrlParam(id) {
				var reg = new RegExp("(^|&)" + id + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
				var r = window.location.search.substr(1).match(reg); //匹配目标参数
				if (r != null) return unescape(r[2]);
				return null; //返回参数值
			}
			//接收URL中的参数id
			var id = getUrlParam('id');
			$.ajax({
				type: 'post',
				url: '/api/perfumercon1',
				dataType: 'json',
				data: id,
				success: function(data) {
					console.log(data.msg);
					var h_ht = '';
					var f_ht = '';
					if (data.code == 0) {
						h_ht +=
							"\t\t\t\t<div class=\"col-md-3 img\">\n" +
							"\t\t\t\t\t<img alt='暂无图片' src= '" + data.msg[0].pc_img + "' >\n" +
							"\t\t\t\t</div>\n" +
							"\t\t\t\t<div class=\"col-md-9 desc\">\n" +
							"\t\t\t\t\t<h1>" + data.msg[0].pc_name + "</h1>\n" +
							"\t\t\t\t\t<p style=\"text-indent: 2em;line-height: 30px;\">" + data.msg[0].pc_introduce + "</p>\n" +
							"\t\t\t\t</div>";
						f_ht += "<div class=\"col-md-3\"></div>";
						f_ht += "<div class=\"col-md-9 works\">";
						f_ht += "<h3>TA的作品</h3>";
						f_ht += "<div id=\"items\" class=\"items\">";
						for (var i = 0; i < data.msg.length; i++) {
							f_ht += "\t\t\t\t\t\t<div class=\"item\">\n" +
								"\t\t\t\t\t\t\t<a href=\"#\" class=\"imgborder\">\n" +
								"\t\t\t\t\t\t\t\t<img alt='暂无图片' src='" + data.msg[i].pf_img + "' >\n" +
								"\t\t\t\t\t\t\t</a>\n" +
								"\t\t\t\t\t\t\t<div class=\"detail\">\n" +
								"\t\t\t\t\t\t\t\t<a href=\"#\">\n" +
								"\t\t\t\t\t\t\t\t\t<h2>" + data.msg[i].pf_name + "</h2>\n" +
								"\t\t\t\t\t\t\t\t</a>\n" +
								"\t\t\t\t\t\t\t\t<div class=\"score\">\n" +
								"\t\t\t\t\t\t\t\t\t<span class=\"sa8\"></span>\n" +
								"\t\t\t\t\t\t\t\t\t " + data.msg[i].pf_score + " 分 " + data.msg[i].pf_num + " 人评价\n" +
								"\t\t\t\t\t\t\t\t</div>\n" +
								"\t\t\t\t\t\t\t\t<div class=\"info\">\n" +
								"\t\t\t\t\t\t\t\t\t前调：" + data.msg[i].pf_first + "<br>\n" +
								"\t\t\t\t\t\t\t\t\t中调：" + data.msg[i].pf_in + "<br>\n" +
								"\t\t\t\t\t\t\t\t\t后调：" + data.msg[i].pf_after + "\n" +
								// 气味：香根草,麝香,檀香木,广藿香,橡木苔,琥珀,香草,麝猫香
								"\t\t\t\t\t\t\t\t</div>\n" +
								"\t\t\t\t\t\t\t</div>\n" +
								"\t\t\t\t\t\t</div>\n";
						}
						f_ht += "</div>";
						f_ht += "</div>";
						$('#h_row').append(h_ht);
						$('#f_row').append(f_ht);
					}
				}
			})
		</script>
	</body>
</html>
