<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>气味</title>
		<link rel="stylesheet" type="text/css" href="/public/bootstrap-3.3.7/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="/public/css/smell.css" />
	</head>
	<body>
		<div class="container">
			<!-- 头部 -->
			<div class="row" style="margin-top: 0">
				<div class="col-md-10 col-md-offset-1">
					<ul class="nav nav-tabs" id="myTab"></ul>
				</div>
			</div>
			<!-- 内容 -->
			<div class="row">
				<div class="col-md-12">
					<div id="tabcon" class="tab-content"></div>
				</div>
			</div>
			<div id="collist" style="text-align: center;" class="row">
			</div>
		</div>
	</body>
	<script src="/public/bootstrap-3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		$.ajax({
			type: 'post',
			url: '/api/smellclass',
			dataType: 'json',
			success: function(data) {
				if (data.code == 0) {
					var ht = '';
					var htcon = '';
					var name = '';
					for (var i = 0; i < data.msg.length; i++) {
						$('.tab-pane').load('(data.msg[i].ss_href).substr(1,1)')
						// 显示标题
						ht += "<li><a href='" + data.msg[i].ss_href + "'>" + data.msg[i].ss_title + "</a></li>";
						// 默认显示第一个内容
						if (data.msg[i].ss_href == '#A') {
							name = data.msg[i].ss_title
							htcon +=
								"<div class='tab-pane' id='" + (data.msg[i].ss_href).substr(1, 1) + "'>" +
								"<div class=\"row\">\n" +
								"\t\t\t\t\t\t<div class=\"col-md-12 mainimg\">\n" +
								"\t\t\t\t\t\t\t<img src='" + data.msg[i].ss_img + "'>\n" +
								"\t\t\t\t\t\t\t<div class=\"tip\">" + data.msg[i].ss_title + "</div>\n" +
								"\t\t\t\t\t\t</div>\n" +
								"\t\t\t\t\t\t<div class=\"col-md-12 coltext\">\n" +
								"\t\t\t\t\t\t\t<p>\n" +
								"\t\t\t\t\t\t\t\t在香水业中，柑橘类香料指柑橘属植物的果实，或具有类似柑橘气味的香料（如香茅和马鞭草），柑橘类水\n" +
								"\t\t\t\t\t\t\t\t果通常皮厚味浓，富含天然精油并容易萃取，所以柑橘类水果被独自划分为了一大类。其中一些作为香料很\n" +
								"\t\t\t\t\t\t\t\t早以前就开始用来制作香水了，跟松香一样历史悠久，而一些则是现代香水业才开始使用的香料，如柚子，\n" +
								"\t\t\t\t\t\t\t\t葡萄柚，日本柚子，八朔橘等，它们的精油是依靠现代科技才得以提炼的。\n" +
								"\t\t\t\t\t\t\t</p>\n" +
								"\t\t\t\t\t\t\t<p>\n" +
								"\t\t\t\t\t\t\t\t柑橘类精油通常是通过冷压法提炼出的，用来保留其自身的清新气息。苦橙叶是个例外，它的精油是通过对苦\n" +
								"\t\t\t\t\t\t\t\t橙树的枝叶蒸馏而得的。柑橘类香料能为香水增加一种清新怡人的特质，通常由于其高挥发性，而应用于香水\n" +
								"\t\t\t\t\t\t\t\t的前调，挑逗我们的嗅觉。佛手柑更是制造经典古龙水不可或缺的香料之一。\n" +
								"\t\t\t\t\t\t\t</p>\n" +
								"\t\t\t\t\t\t\t<p>\n" +
								"\t\t\t\t\t\t\t\t柑橘类酸酸甜甜的气味会让人心境开阔，怡然自得，让人联想起清爽干净的空气。柑橘类香料是花香香料，以\n" +
								"\t\t\t\t\t\t\t\t及东方香调香水中树脂类香料的最佳伴侣。在果香调香水中使用，能够降低香水的甜腻度，并增加酸爽感。\n" +
								"\t\t\t\t\t\t\t</p>\n" +
								"\t\t\t\t\t</div>\n" +
								"\t\t\t\t\t</div>" +
								"</div>";
							var coll = '';
							$.ajax({
								type: 'get',
								url: '/api/smell/' + name,
								dataType: 'json',
								async: false,
								success: function(data) {
									if (data.code == 0) {
										for (var i = 0; i < data.msg.length; i++) {
											console.log(data.msg)
											coll += "\t\t\t\t\t\t<div class=\"col-md-2\">\n" +
												"\t\t\t\t\t\t\t<a class=\"imgborder\" href='/api/smellcon?s_id=" + data.msg[i].s_id +
												"' style=\"text-decoration: none;\">\n" +
												"\t\t\t\t\t\t\t\t<img src='" + data.msg[i].s_img + "' alt=\"\">\n" +
												"\t\t\t\t\t\t\t</a>\n" +
												"\t\t\t\t\t\t\t<a class=\"txt\" href='/api/smellcon?s_id=" + data.msg[i].s_id +
												"' style=\"text-decoration: none;color: #F18085;font-size: 14px;\">\n" +
												"\t\t\t\t\t\t\t\t" + data.msg[i].s_name_ch + "<br>\n" +
												"\t\t\t\t\t\t\t\t" + data.msg[i].s_name_eh + "\n" +
												"\t\t\t\t\t\t</div>\n" +
												"\t\t\t\t\t\t\t</a>\n";
										}
										$('#collist').html(coll);
									}
								}
							});
							$("#tabcon").append(htcon);
						}
						// 显示内容
						htcon += "<div class='tab-pane' id='" + (data.msg[i].ss_href).substr(1, 1) + "'>" +
							"<div class=\"row\">\n" +
							"\t\t\t\t\t\t<div class=\"col-md-12 mainimg\">\n" +
							"\t\t\t\t\t\t\t<img src='" + data.msg[i].ss_img + "'>\n" +
							"\t\t\t\t\t\t\t<div class=\"tip\">" + data.msg[i].ss_title + "</div>\n" +
							"\t\t\t\t\t\t</div>\n" +
							"\t\t\t\t\t\t<div class=\"col-md-12 coltext\">\n" +
							"\t\t\t\t\t\t\t<p>\n" +
							"\t\t\t\t\t\t\t\t在香水业中，柑橘类香料指柑橘属植物的果实，或具有类似柑橘气味的香料（如香茅和马鞭草），柑橘类水\n" +
							"\t\t\t\t\t\t\t\t果通常皮厚味浓，富含天然精油并容易萃取，所以柑橘类水果被独自划分为了一大类。其中一些作为香料很\n" +
							"\t\t\t\t\t\t\t\t早以前就开始用来制作香水了，跟松香一样历史悠久，而一些则是现代香水业才开始使用的香料，如柚子，\n" +
							"\t\t\t\t\t\t\t\t葡萄柚，日本柚子，八朔橘等，它们的精油是依靠现代科技才得以提炼的。\n" +
							"\t\t\t\t\t\t\t</p>\n" +
							"\t\t\t\t\t\t\t<p>\n" +
							"\t\t\t\t\t\t\t\t柑橘类精油通常是通过冷压法提炼出的，用来保留其自身的清新气息。苦橙叶是个例外，它的精油是通过对苦\n" +
							"\t\t\t\t\t\t\t\t橙树的枝叶蒸馏而得的。柑橘类香料能为香水增加一种清新怡人的特质，通常由于其高挥发性，而应用于香水\n" +
							"\t\t\t\t\t\t\t\t的前调，挑逗我们的嗅觉。佛手柑更是制造经典古龙水不可或缺的香料之一。\n" +
							"\t\t\t\t\t\t\t</p>\n" +
							"\t\t\t\t\t\t\t<p>\n" +
							"\t\t\t\t\t\t\t\t柑橘类酸酸甜甜的气味会让人心境开阔，怡然自得，让人联想起清爽干净的空气。柑橘类香料是花香香料，以\n" +
							"\t\t\t\t\t\t\t\t及东方香调香水中树脂类香料的最佳伴侣。在果香调香水中使用，能够降低香水的甜腻度，并增加酸爽感。\n" +
							"\t\t\t\t\t\t\t</p>\n" +
							"\t\t\t\t\t\t</div>\n" +
							"\t\t\t\t\t</div>\n";
						htcon += "\t\t\t\t\t<div id='collist collists' class='row' style=\"text-align: center;\">";
						// htcon +="<p id=\"active-tab\" class=\"active-tab\">当前激活标签的名称：<span></span></p>";
						htcon += "\t\t\t\t\t</div>";
						htcon += "</div>";
					}
					$('#myTab').append(ht);
					$('#myTab a:first').tab('show').addClass('actives'); //初始化显示哪个tab
					$('#myTab a').click(function(e) {
						e.preventDefault(); //阻止a链接的跳转行为
						$(this).tab('show').addClass('active'); //显示当前选中的链接及关联的content
					})
					$("#myTab a").on("shown.bs.tab", function(e) {
						var activeTab = $(e.target).text();
						var coll = '';
						$.ajax({
							type: 'get',
							url: '/api/smell/' + activeTab,
							dataType: 'json',
							// async: false,
							success: function(data) {
								if (data.code == 0) {
									for (var i = 0; i < data.msg.length; i++) {
										coll += "\t\t\t\t\t\t<div class=\"col-md-2\">\n" +
											"\t\t\t\t\t\t\t<a class=\"imgborder\" href='/api/smellcon?s_id=" + data.msg[i].s_id +
											"' style=\"text-decoration: none;\">\n" +
											"\t\t\t\t\t\t\t\t<img src='" + data.msg[i].s_img + "' alt=\"\">\n" +
											"\t\t\t\t\t\t\t</a>\n" +
											"\t\t\t\t\t\t\t<a class=\"txt\" href='/api/smellcon?s_id=" + data.msg[i].s_id +
											"' style=\"text-decoration: none;color: #F18085;font-size: 14px;\">\n" +
											"\t\t\t\t\t\t\t\t" + data.msg[i].s_name_ch + "<br>\n" +
											"\t\t\t\t\t\t\t\t" + data.msg[i].s_name_eh + "\n" +
											"\t\t\t\t\t\t</div>\n" +
											"\t\t\t\t\t\t\t</a>\n";
									}
									$('#collist').html(coll);
								}
							}
						})
						// $(".active-tab span").html(activeTab);
					})
					$('#tabcon').append(htcon);
				}
			}
		})
	</script>
</html>
